/* * {
  border: #D57A66 2px solid;
  border-style: dashed;
} */
/* ADD A BACKUP FONT! */
html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #E8E9F3;
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Poller One', cursive; */
  font-family: 'Shrikhand', cursive;
}

button {
  margin-top: 200px;
  font-family: 'Shrikhand', cursive;
}

main {
  width: 50vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

aside {
  width: 20vw;
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1 {
  margin:25px;
  padding: 10px;
  border: #CECECE 3px dotted;
  font-size: 3vw;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  text-align: center;
  padding: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.heading {
  height: 27%;
}

.message {
  font-size: 2.4vw;
}

.game-area {
  height: 73%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 3vw 0 3vw 0;
}

.player-info {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info, .change-game{
  cursor: pointer;
  padding: 20px;
  border-radius: 7px;
  background-color: #CECECE;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.player-graphic {
  max-height: 5vw;
}

.icon{
  height: 10vw;
  cursor: pointer;
}

.classic-game, .difficult-game, .display-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.display-results {
  align-items: center;
  pointer-events: none;
}

.hidden {
  display: none;
}
